# ===========================
# Core
# ===========================

chromadb>=1.0.20
sentence-transformers>=5.0.0
transformers>=4.53.0
langchain-text-splitters>=0.3.9

# ===========================
# PDF
# ===========================

PyMuPDF>=1.26.0
pypdf>=5.7.0

# ===========================
# Data
# ===========================

numpy>=2.2.0
pandas>=2.3.0

# ===========================
# AI
# ===========================

google-generativeai>=0.8.5
groq>=0.30.0

# ===========================
# NLP
# ===========================

rank-bm25>=0.2.2
nltk>=3.9.1

# ===========================
# Notebook
# ===========================

jupyter
ipykernel
ipywidgets

# ===========================
# UI
# ===========================

streamlit>=1.47.0

# ===========================
# Utils
# ===========================

python-dotenv>=1.1.0
tqdm>=4.67.0

# ===========================
# Misc
# ===========================

loader

torchvision

streamlit

PyMuPDF